*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgba(114, 88, 101, 0.881);
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}

#part2{
    height: 100%;
    width: 67%;
    background-color: rgb(22, 163, 223);
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW9kZWxzfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(161, 145, 149, 0.5);
}

#part3{
    height: 100%;
    width: 7%;
    /* background-color: rgb(0, 255, 30); */
} 
#text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
#text-div>h1{
    font-size: 80px;
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: 900px;
    line-height: 79px;
    color: #ffffff;
    text-transform: uppercase;
}
#small-image-div{
    height: 400px;
    width: 300px;
    /* background-color: red; */
   background-image: url(https://images.unsplash.com/photo-1529680459049-bf0340fa0755?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(161, 145, 149, 0.5);
}
#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    right: -85%;
    top: -7%;
    transform-origin: 0% 0%;
    /* width: 100%; */
    /* background-color: red; */
}
#vertical-text h1{
    font-size: 80px;
    font-weight: 900;
    color: transparent;
    letter-spacing: 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: #ffffff;
}
#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    left: 5%;
    top: 5%;
    /* background-color: red; */

}
#nav img{
    height: 70px;
    border-radius: 50px;
}
#nav h5{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: sans-serif;
}